@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Time Slot";
}

@*need to finish set up in homecontroller*@
@*Add in asp-for*@

@model Project1.Models.SignUpModel

<body>
    <div>
        <h2>Sign Up for Available Times</h2>
        <br />

        <form asp-action="AvailableTime" method="post">
            <div>
                <label @*asp-for="availableTime"*@>Available Times:</label>
                <select name="availableTime" id="availableTime" @*asp-for="availableTime"*@>
                    <option value="">Select One</option>
                    <option value="8am">8:00 am</option>
                    <option value="9am">9:00 am</option>
                    <option value="10am">10:00 am</option>
                    <option value="11am">11:00 am</option>
                    <option value="12pm">12:00 pm</option>
                    <option value="1pm">1:00 pm</option>
                    <option value="2pm">2:00 pm</option>
                    <option value="3pm">3:00 pm</option>
                    <option value="4pm">4:00 pm</option>
                    <option value="5pm">5:00 pm</option>
                    <option value="6pm">6:00 pm</option>
                    <option value="7pm">7:00 pm</option>
                    <option value="8pm">8:00 pm</option>
                </select>
            </div>
            <br />            

            <input type="submit" value="Submit Time" id="submitTimeButton" />            
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</body>
