@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Time Slot";
}

@*need to finish set up in homecontroller*@

@*model Project1.Models.AvailableTimes *@
@model IEnumerable<TimeSlot>

<body>
    <div>
        <h2>Sign Up for Available Times</h2>
        <br />

        @* This is the section that I am using to test this, and if it works, cool. Otherwise, rip *@
        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Schedule</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TimeSlot t in Model)
                {
                <tr>
                    <td>@t.DateTimeSlot.ToString("MMMM dd")</td>
                    <td>@t.DateTimeSlot.ToString("h:mm tt")</td>
                    <td>
                        @if (t.IsAvailable) 
                        {
                            <form asp-controller="Home" asp-action="AvailableTime" method="post">
                                <button type="submit" value="@t.DateTimeSlot" class="btn btn-outline-success">Schedule</button>
                            </form>
                        } 
                        else
                        {
                            <button type="button" disable class="btn btn-outline-secondary">Not Available</button>
                        }
                    </td>
                </tr>
                }
            </tbody>            
        </table>

        @* end my section *@
        @*<form asp-action="AvailableTime" method="post">
            <div>
                <label asp-for="SelectedDate">Select Date:</label>
                <select name="SelectedDate" id="SelectedDate" asp-for="SelectedDate">
                    <option value="">Select One</option>
                    <option value="sun21">Sunday March 21st</option>
                    <option value="mon22">Monday March 22nd</option>
                    <option value="tues23">Tuesday March 23rd</option>
                    <option value="wed24">Wednesady March 24th</option>
                    <option value="thur25">Thursday March 25th</option>
                    <option value="fri26">Friday March 26th</option>
                    <option value="sat27">Saturday March 27th</option>
                </select>
                <br />

                <label asp-for="SelectTime">Available Times:</label>
                <select name="availableTime" id="availableTime" asp-for="SelectTime">
                    <option value="">Select One</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                </select>
            </div>
            <br />            

            <input type="submit" value="Submit Time" id="submitTimeButton" />            
            <div asp-validation-summary="All"></div>
        </form>*@
    </div>
</body>
