@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sign Up";    
}

@model Project1.Models.SignUpModel

<body>
    <div>
        <h2>Enter Group Info</h2>        

        <form asp-action="GroupForm" method="post">
            <div>
                <label asp-for="groupName">Name of Group:</label>
                <input id="groupName" asp-for="groupName" />
                <br />


                <label asp-for="groupSize">Size of Group:</label>
                <input id="groupSize" asp-for="groupSize" />
                <br />

                <label asp-for="email">Email Address:</label>
                <input id="Email" asp-for="email" />
                <br />

                <label asp-for="phone">Phone Number:</label>
                <input id="Phone" placeholder="Optional" asp-for="phone" />
                <br />

                <input hidden type="datetime" asp-for="availableTimes" value="@ViewBag.TimeResponse" id="TimeResponse" />
            </div>
            <br />

            <input type="submit" value="Submit Group" id="submitGroupButton" />
            <div asp-validation-summary="All"></div>
        </form>
    </div>
    <script src="~/js/regulator.js"></script>
</body>