@model Project1.Models.ViewModels.SignUpViewModel
<div>
    <h2>Set Appointments</h2>


    <table>
        <thead>
            <tr><th>Group Name</th><th>Group Size</th><th>Email</th></tr>
        </thead>

        <tbody>

            @foreach (var x in Model.SignUps)
            {
                <tr>
                    <td>@x.groupName</td>
                    <td>@x.groupSize</td>
                    <td>@x.email</td>
                </tr>
            }

        </tbody>

    </table>

</div>
