
@model IEnumerable<Project1.Models.SignUpModel>
<div>
    <h2>Set Appointments</h2>


    <table>
        <thead>
            <tr><th class="p-1">Group Name</th><th class="p-2">Time</th><th class="p-3">Group Size</th><th class="p-4">Email</th></tr>
        </thead>

        <tbody>

            @foreach (Project1.Models.SignUpModel x in Model)
            {
                <tr>
                    <td class="p-1">@x.groupName</td>
                    <td class="p-2">@x.availableTimes</td>
                    <td class="p-3">@x.groupSize</td>
                    <td class="p-4">@x.email</td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>
