
@model IEnumerable<Project1.Models.SignUpModel>
<div>
    <h2>Set Appointments</h2>


    <table>
        <thead>
            <tr><th>Group Name</th><th>Group Size</th><th>Email</th></tr>
        </thead>

        <tbody>

            @foreach (Project1.Models.SignUpModel x in Model)
            {
                <tr>
                    <td>@x.groupName</td>
                    <td>@x.groupSize</td>
                    <td>@x.email</td>
                </tr>
            }

        </tbody>
    </table>
</div>
